{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PulseID</title>

    <link rel="stylesheet" href="{% static 'css/citizen_login.css' %}">
</head>
<body>

<div class="container">
    <div class="card">

        <h2>Welcome Back 👋</h2>
        <p class="subtitle">Login to your PulseID</p>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-box">
                <input type="email" name="email" required>
                <label>Email Address</label>
            </div>

            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="bottom-text">
            New here? <a href="/citizen/register/">Create account</a>
        </p>

    </div>
</div>

</body>
</html>