{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Patient</title>

    <link rel="stylesheet" href="{% static 'css/access_patient.css' %}">
</head>
<body>

<div class="wrapper">

    <div class="card">

        <h2>🔐 Access Patient</h2>
        <p class="subtitle">Enter Health ID to request OTP</p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="health_id" required>
                <label>Patient Health ID</label>
            </div>

            <button type="submit">Send OTP</button>
        </form>

        <a href="/doctor/dashboard/" class="back">← Back</a>

    </div>

</div>

</body>
</html>