{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doctor Dashboard</title>

<link rel="stylesheet" href="{% static 'css/doctor_dashboard.css' %}">
</head>
<body>

<div class="container">

    <!-- Header -->
    <div class="header">
        <div>
            <h2>👨‍⚕️ {{ profile.user.name }}</h2>
            <p class="sub">{{ profile.specialization }}</p>
        </div>

        {% if profile.status == 'approved' %}
            <span class="status approved">Approved</span>
        {% elif profile.status == 'rejected' %}
            <span class="status rejected">Rejected</span>
        {% else %}
            <span class="status pending">Pending</span>
        {% endif %}
    </div>

    <!-- Info -->
    <div class="info-card">
        <div>
            <span>Email</span>
            <p>{{ profile.user.email }}</p>
        </div>

        <div>
            <span>Hospital</span>
            <p>{{ profile.hospital.hospital_name }}</p>
        </div>
    </div>

    <!-- Actions -->
    <div class="actions">
        <a href="/doctor/access-patient/" class="btn primary">
            Access Patient Data
        </a>

        <a href="/logout/" class="btn danger">
            Logout
        </a>
    </div>

</div>

</body>
</html>