{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Doctor Register - PulseID</title>

<link rel="stylesheet" href="{% static 'css/doctor_register.css' %}">
</head>
<body>

<div class="wrapper">

    <div class="card">

        <h2>👨‍⚕️ Doctor Registration</h2>
        <p class="subtitle">Join PulseID network</p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="name" required>
                <label>Full Name</label>
            </div>

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <div class="input-group">
                <input type="text" name="specialization" required>
                <label>Specialization</label>
            </div>

            <div class="input-group">
                <input type="text" name="license_number" required>
                <label>Medical License Number</label>
            </div>

            <!-- Hospital Select -->
            <div class="select-group">
                <select name="hospital" required>
                    <option value="">Select Hospital</option>
                    {% for hospital in hospitals %}
                        <option value="{{ hospital.id }}">
                            {{ hospital.hospital_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Register</button>

        </form>

        <p class="bottom">
            Already Registered? <a href="/doctor/login/">Login</a>
        </p>

    </div>

</div>

</body>
</html>