{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Login - PulseID</title>

    <link rel="stylesheet" href="{% static 'css/doctor_login.css' %}">
</head>
<body>

<div class="wrapper">

    <div class="card">

        <h2>👨‍⚕️ Doctor Login</h2>
        <p class="subtitle">Access your dashboard</p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="bottom">
            New doctor? <a href="/doctor/register/">Register</a>
        </p>

    </div>

</div>

</body>
</html>