{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Government Dashboard</title>

<link rel="stylesheet" href="{% static 'css/govt_dashboard.css' %}">
</head>
<body>

<div class="container">

    <!-- Header -->
    <div class="header">
        <h2>🏛 Government Control Panel</h2>
        <a href="/logout/" class="logout">Logout</a>
    </div>

    <!-- Hospitals -->
    <div class="box">
        <h3>Hospital Approval Requests</h3>

        <table>
            <tr>
                <th>Hospital</th>
                <th>License</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for hospital in pending_hospitals %}
            <tr>
                <td>{{ hospital.hospital_name }}</td>
                <td>{{ hospital.license_number }}</td>

                <td>
                    <span class="badge {{ hospital.status }}">
                        {{ hospital.status }}
                    </span>
                </td>

                <td>
                    {% if hospital.status == "pending" %}
                        <a href="{% url 'approve_hospital' hospital.id %}" class="btn approve">Approve</a>
                        <a href="{% url 'reject_hospital' hospital.id %}" class="btn reject">Reject</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Doctors -->
    <div class="box">
        <h3>Pending Doctor Requests</h3>

        {% if pending_doctors %}
        <table>
            <tr>
                <th>Name</th>
                <th>Hospital</th>
                <th>License</th>
                <th>Action</th>
            </tr>

            {% for doctor in pending_doctors %}
            <tr>
                <td>{{ doctor.user.name }}</td>
                <td>{{ doctor.hospital.hospital_name }}</td>
                <td>{{ doctor.license_number }}</td>
                <td>
                    <a href="{% url 'approve_doctor' doctor.id %}" class="btn approve">Approve</a>
                    <a href="{% url 'reject_doctor' doctor.id %}" class="btn reject">Reject</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p class="empty">No Pending Doctor Requests</p>
        {% endif %}
    </div>

</div>

</body>
</html>