{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Emergency Status</title>

<link rel="stylesheet" href="{% static 'css/emergency_status.css' %}">
</head>
<body>

<div class="wrapper">

    <div class="card">

        <h2>🚑 Emergency Status</h2>

        <!-- Priority -->
        <div class="priority-box">
            Priority: <span class="{{ emergency.priority }}">
                {{ emergency.priority|upper }}
            </span>
        </div>

        <!-- Hospital -->
        <div class="info">
            {% if emergency.hospital %}
                <p><strong>Hospital:</strong> {{ emergency.hospital.hospital_name }}</p>
            {% else %}
                <p class="muted">No hospital assigned yet</p>
            {% endif %}
        </div>

        <!-- Status -->
        <div class="status-box">

            {% if emergency.status == 'pending' %}
                <p class="pending">⏳ Waiting for hospital...</p>
            {% elif emergency.status == 'in_progress' %}
                <p class="progress">🚑 Ambulance is on the way</p>
            {% elif emergency.status == 'completed' %}
                <p class="done">✅ Emergency handled</p>
            {% endif %}

            {% if emergency.status == "rerouted" %}
                <p class="reroute">⚠ Re-routed to another hospital</p>
            {% endif %}

        </div>

        <!-- AI Analysis -->
        <div class="ai-section">
            <button onclick="toggleAI()" class="ai-btn">
                View AI Analysis
            </button>

            <div id="aiBox" class="ai-box">
                {{ emergency.ai_analysis }}
            </div>
        </div>

        <!-- Back -->
        <a href="/" class="back">← Back to Home</a>

    </div>

</div>

<script>
function toggleAI() {
    document.getElementById("aiBox").classList.toggle("show");
}
</script>

</body>
</html>